# Swift Package Manager
.build/

## Build generated
build/
DerivedData/

## Various settings from https://github.com/github/gitignore/blob/master/Swift.gitignore
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate


*.xcscmblueprint
Whatever/swagger/tmp-build-files
SoracomSDKSwift.xcodeproj
