{"swagger":"2.0","info":{"title":"SORACOM API","description":"SORACOM API v1","version":"20160713"},"host":"api.soracom.io","schemes":["https"],"basePath":"/v1","produces":["application/json"],"securityDefinitions":{"api_key":{"type":"apiKey","name":"X-Soracom-API-Key","in":"header"},"api_token":{"type":"apiKey","name":"X-Soracom-Token","in":"header"}},"paths":{"/auth":{"post":{"tags":["Auth"],"summary":"Performs authentication to access to the SORACOM API.","description":"Performs authentication to access to the SORACOM API. To perform authentication by a root account, specify `email` and `password`. To perform authentication by an AuthKey, specify `authKeyId` and `authKey`. To perform authentication by a SAM user, specify `operatorId`, `userName` and `password`. An API Key and an API Token will be included in the response if successful. Specify the API Key and the API Token to requests afterwards","operationId":"auth","x-soracom-cli":["auth"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"auth","description":"Authentication request.","required":true,"schema":{"$ref":"#/definitions/AuthRequest"}}],"responses":{"200":{"description":"Authentication successful.","schema":{"$ref":"#/definitions/AuthResponse"}},"401":{"description":"Authentication failed."}}}},"/auth/password_reset_token/issue":{"post":{"tags":["Auth"],"summary":"Issues a password reset token for the operator.","description":"Generates a password reset token and send it to the operator's mail address. After receiving the password reset token, call /v1/auth/password_reset_token/verify API with the token to update operator's password.","operationId":"issuePasswordResetToken","x-soracom-cli":["auth issue-password-reset-token"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"Request","required":true,"schema":{"$ref":"#/definitions/IssuePasswordResetTokenRequest"}}],"responses":{"200":{"description":"OK."},"400":{"description":"Invalid email address."}}}},"/auth/password_reset_token/verify":{"post":{"tags":["Auth"],"summary":"Verifies the password reset token and updates password.","description":"Updates the operator's password if the password reset token is verified.","operationId":"verifyPasswordResetToken","x-soracom-cli":["auth verify-password-reset-token"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/VerifyPasswordResetTokenRequest"}}],"responses":{"200":{"description":"OK."},"400":{"description":"Invalid token."},"404":{"description":"Token expired."}}}},"/credentials":{"get":{"tags":["Credential"],"summary":"List of credentials.","description":"Returns a list of credentials.","operationId":"listCredentials","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["credentials list"],"consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK.","schema":{"type":"array","items":{"$ref":"#/definitions/CredentialsModel"}}}}}},"/credentials/{credentials_id}":{"post":{"tags":["Credential"],"summary":"Create a credential.","description":"Creates a new credential.","operationId":"createCredential","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["credentials create"],"consumes":["application/json;charset=UTF-8"],"produces":["*/*"],"parameters":[{"name":"credentials_id","in":"path","description":"credentials_id","required":true,"type":"string"},{"in":"body","name":"credentials","description":"credentials","required":true,"schema":{"$ref":"#/definitions/CreateAndUpdateCredentialsModel"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/CredentialsModel"}}}},"put":{"tags":["Credential"],"summary":"Update a credential.","description":"Updates a credential.","operationId":"updateCredential","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["credentials update"],"consumes":["application/json;charset=UTF-8"],"produces":["*/*"],"parameters":[{"name":"credentials_id","in":"path","description":"credentials_id","required":true,"type":"string"},{"in":"body","name":"credentials","description":"credentials","required":true,"schema":{"$ref":"#/definitions/CreateAndUpdateCredentialsModel"}}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/CredentialsModel"}},"400":{"description":"There was an error in the request or the specified token has already expired. (In the latter case, you will need to use the /auth API to do authentication once again.)"}}},"delete":{"tags":["Credential"],"summary":"Delete a credential.","description":"Deletes a credential.","operationId":"deleteCredential","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["credentials delete"],"consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"operator_id","in":"path","description":"Operator ID","required":true,"type":"string"}],"responses":{"204":{"description":"Deleted"},"404":{"description":"Not Found"}}}},"/operators":{"post":{"tags":["Operator"],"summary":"Create Operator.","description":"Makes a request to create a new operator. An e-mail is sent to the e-mail address specified in the parameters, containing a one-time token for verifying the operator’s registration.","operationId":"createOperator","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["operator create"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/RegisterOperatorsRequest"}}],"responses":{"201":{"description":"Operator created."},"400":{"description":"The e-mail address is already registered or the password has an incorrect format."}}}},"/operators/email_change_token/issue":{"post":{"tags":["Operator"],"summary":"Issue Email Change Token.","description":"Sends an e-mail with a one-time token for executing the e-mail address change.","operationId":"issueEmailChangeToken","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["operator issue-email-change-token"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/IssueEmailChangeTokenRequest"}}],"responses":{"200":{"description":"OK"}}}},"/operators/email_change_token/verify":{"post":{"tags":["Operator"],"summary":"Verify Email Change Token.","description":"Verifies the token for the e-mail address change, and then changes the e-mail address.","operationId":"verifyEmailChangeToken","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["operator verify-email-change-token"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/VerifyEmailChangeTokenRequest"}}],"responses":{"200":{"description":"OK"}}}},"/operators/verify":{"post":{"tags":["Operator"],"summary":"Verify Operator.","description":"Verifies the operator's registration. Called by setting as parameter the one-time verification token received via e-mail.","operationId":"verifyOperator","x-soracom-cli":["operator verify"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"token","in":"body","description":"token","required":true,"schema":{"$ref":"#/definitions/VerifyOperatorsRequest"}}],"responses":{"200":{"description":"Registration successful."},"400":{"description":"The one-time token is incorrect."},"404":{"description":"The one-time token has expired."}}}},"/operators/{operator_id}":{"get":{"tags":["Operator"],"summary":"Get Operator.","description":"Returns information about the operator.","operationId":"getOperator","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["operator get"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"path","name":"operator_id","description":"operator ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/GetOperatorResponse"}},"400":{"description":"Invalid Operator Id"}}}},"/operators/{operator_id}/auth_keys":{"get":{"tags":["Operator"],"summary":"List Operator AuthKeys.","description":"Returns the operator's AuthKey list.","operationId":"listOperatorAuthKeys","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["operator auth-keys list"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"type":"array","items":{"$ref":"#/definitions/AuthKeyResponse"}}}}},"post":{"tags":["Operator"],"summary":"Generate Operator AuthKey.","description":"Generates an AuthKey for the operator.","operationId":"generateOperatorAuthKey","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["operator auth-keys generate"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/GenerateOperatorsAuthKeyResponse"}}}}},"/operators/{operator_id}/auth_keys/{auth_key_id}":{"delete":{"tags":["Operator"],"summary":"Delete Operator AuthKey.","description":"Deletes an AuthKey from the operator.","operationId":"deleteOperatorAuthKey","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["operator auth-keys delete"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"auth_key_id","in":"path","description":"auth_key_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/operators/{operator_id}/password":{"post":{"tags":["Operator"],"summary":"Update Operator Password.","description":"Updates the operator's password.","operationId":"updateOperatorPassword","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["operator update-password"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"path","name":"operator_id","description":"operator ID","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdatePasswordRequest"}}],"responses":{"200":{"description":"OK."},"400":{"description":"Invalid password."}}}},"/operators/{operator_id}/support/token":{"post":{"tags":["Operator"],"summary":"Generate Token for Support Console.","description":"Returns a token for accessing the support console.","operationId":"generateSupportToken","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["operator get-support-token"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"path","name":"operator_id","description":"operator ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/SupportTokenResponse"}},"400":{"description":"Invalid Operator Id"},"403":{"description":"Invalid token."}}}},"/operators/{operator_id}/token":{"post":{"tags":["Operator"],"summary":"Generate Authentication Token.","description":"Generates a new API token. If you insert the current API token into the header and make a request, a response is returned containing the new API token. You can then use the new API token in future requests.","operationId":"generateAuthToken","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["operator generate-api-token"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"path","name":"operator_id","description":"operator ID","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GenerateTokenRequest"}}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/GenerateTokenResponse"}},"400":{"description":"There was an error in the request or the specified token has already expired. (In the latter case, you will need to use the /auth API to do authentication once again.)","schema":{"$ref":"#/definitions/APICallError"}}}}},"/operators/{operator_id}/roles":{"get":{"tags":["Role"],"summary":"List Roles.","description":"Returns a list of roles.","operationId":"listRoles","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["roles list"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"type":"array","items":{"$ref":"#/definitions/ListRolesResponse"}}}}}},"/operators/{operator_id}/roles/{role_id}":{"get":{"tags":["Role"],"summary":"Get Role.","description":"Retrieves a role.","operationId":"getRole","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["roles get"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"role_id","in":"path","description":"role_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/RoleResponse"}}}},"post":{"tags":["Role"],"summary":"Create Role.","description":"Adds a new role.","operationId":"createRole","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["roles create"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"role_id","in":"path","description":"role_id","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CreateOrUpdateRoleRequest"}}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/CreateRoleResponse"}}}},"put":{"tags":["Role"],"summary":"Update Role.","description":"Edits a role.","operationId":"updateRole","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["roles update"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"role_id","in":"path","description":"role_id","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CreateOrUpdateRoleRequest"}}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Role"],"summary":"Delete Role.","description":"Deletes a role.","operationId":"deleteRole","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["roles delete"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"role_id","in":"path","description":"role_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/operators/{operator_id}/roles/{role_id}/users":{"get":{"tags":["Role"],"summary":"List Role Attached Users.","description":"Retrieves a list of users attached to a role.","operationId":"listRoleAttachedUsers","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["roles list-users"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"role_id","in":"path","description":"role_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"type":"array","items":{"$ref":"#/definitions/UserDetailResponse"}}}}}},"/operators/{operator_id}/users/{user_name}/roles":{"get":{"tags":["Role"],"summary":"List User Roles.","description":"Retrieves a list of the user's roles.","operationId":"listUserRoles","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users list-roles"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"type":"array","items":{"$ref":"#/definitions/RoleResponse"}}}}},"post":{"tags":["Role"],"summary":"Attach Role to User.","description":"Attaches a role to a user.","operationId":"attachRole","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users attach-role"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/AttachRoleRequest"}}],"responses":{"200":{"description":"OK"}}}},"/operators/{operator_id}/users/{user_name}/roles/{role_id}":{"delete":{"tags":["Role"],"summary":"Detach Role from User.","description":"Detaches a role from a user.","operationId":"detachRole","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users detach-role"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"},{"name":"role_id","in":"path","description":"role_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/operators/{operator_id}/shipping_addresses":{"get":{"tags":["ShippingAddress"],"summary":"List shipping addresses.","description":"Returns a list of shipping addresses.","operationId":"listShippingAddresses","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["shipping-addresses list"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"Operator ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/ListShippingAddressResponse"}}}},"post":{"tags":["ShippingAddress"],"summary":"Create shipping address.","description":"Creates a new shipping address.","operationId":"createShippingAddress","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["shipping-addresses create"],"consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"operator_id","in":"path","description":"Operator ID","required":true,"type":"string"},{"name":"model","in":"body","description":"model","required":true,"schema":{"$ref":"#/definitions/ShippingAddressModel"}}],"responses":{"200":{"description":"OK.","schema":{"type":"string"}},"201":{"description":"shippingAddreddId","schema":{"type":"string"}}}}},"/operators/{operator_id}/shipping_addresses/{shipping_address_id}":{"get":{"tags":["ShippingAddress"],"summary":"Get shipping address.","description":"Returns a shipping address.","operationId":"getShippingAddress","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["shipping-addresses get"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"Operator ID","required":true,"type":"string"},{"name":"shipping_address_id","in":"path","description":"shipping_address_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/GetShippingAddressResponse"}}}},"put":{"tags":["ShippingAddress"],"summary":"Update shipping address.","description":"Updates a shipping address.","operationId":"updateShippingAddress","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["shipping-addresses update"],"consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"operator_id","in":"path","description":"Operator ID","required":true,"type":"string"},{"name":"shipping_address_id","in":"path","description":"shipping_address_id","required":true,"type":"string"},{"in":"body","name":"model","description":"model","required":true,"schema":{"$ref":"#/definitions/ShippingAddressModel"}}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["ShippingAddress"],"summary":"Delete shipping address.","description":"Deletes a shipping address.","operationId":"deleteShippingAddress","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["shipping-addresses delete"],"consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"operator_id","in":"path","description":"Operator ID","required":true,"type":"string"},{"name":"shipping_address_id","in":"path","description":"shipping_address_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/operators/{operator_id}/users":{"get":{"tags":["User"],"summary":"List Users.","description":"Returns a list of SAM users.","operationId":"listUsers","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users list"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"type":"array","items":{"$ref":"#/definitions/UserDetailResponse"}}}}}},"/operators/{operator_id}/users/{user_name}":{"get":{"tags":["User"],"summary":"Get User.","description":"Returns a SAM user.","operationId":"getUser","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users get"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/UserDetailResponse"}}}},"post":{"tags":["User"],"summary":"Create User.","description":"Adds a new SAM user.","operationId":"createUser","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users create"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CreateUserRequest"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"}}},"put":{"tags":["User"],"summary":"Update User.","description":"Updates the SAM user.","operationId":"updateUser","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users update"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdateUserRequest"}}],"responses":{"200":{"description":"OK"},"404":{"description":"SAM User not found.","schema":{"$ref":"#/definitions/APICallError"}}}},"delete":{"tags":["User"],"summary":"Delete User.","description":"Deletes the SAM user.","operationId":"deleteUser","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users delete"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"OK"},"404":{"description":"SAM User not found.","schema":{"$ref":"#/definitions/APICallError"}}}}},"/operators/{operator_id}/users/{user_name}/auth_keys":{"get":{"tags":["User"],"summary":"List User AuthKeys.","description":"Returns the SAM user's AuthKey list.","operationId":"listUserAuthKeys","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users auth-keys list"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"type":"array","items":{"$ref":"#/definitions/AuthKeyResponse"}}}}},"post":{"tags":["User"],"summary":"Generate AuthKey.","description":"Generates an AuthKey for the SAM user.","operationId":"generateUserAuthKey","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users auth-keys generate"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/GenerateUserAuthKeyResponse"}}}}},"/operators/{operator_id}/users/{user_name}/auth_keys/{auth_key_id}":{"get":{"tags":["User"],"summary":"Get AuthKey.","description":"Returns the SAM user's AuthKey.","operationId":"getUserAuthKey","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users auth-keys get"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"},{"name":"auth_key_id","in":"path","description":"auth_key_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/AuthKeyResponse"}}}},"delete":{"tags":["User"],"summary":"Delete User AuthKey.","description":"Deletes an AuthKey from the SAM user.","operationId":"deleteUserAuthKey","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users auth-keys delete"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"},{"name":"auth_key_id","in":"path","description":"auth_key_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"OK"},"404":{"description":"AuthKey not found.","schema":{"$ref":"#/definitions/APICallError"}}}}},"/operators/{operator_id}/users/{user_name}/password":{"get":{"tags":["User"],"summary":"Has User Password.","description":"Retrieves whether the SAM user has a password or not.","operationId":"hasUserPassword","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users password configured"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/GetUserPasswordResponse"}}}},"post":{"tags":["User"],"summary":"Create Password.","description":"Creates a password for the SAM user.","operationId":"createUserPassword","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users password create"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CreateUserPasswordRequest"}}],"responses":{"200":{"description":"OK"}}},"put":{"tags":["User"],"summary":"Update Password.","description":"Updates the password of the SAM user.","operationId":"updateUserPassword","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users password update"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/UpdatePasswordRequest"}}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["User"],"summary":"Delete Password.","description":"Deletes the user's password.","operationId":"deleteUserPassword","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users password delete"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"OK"},"404":{"description":"Password registration is required.","schema":{"$ref":"#/definitions/APICallError"}}}}},"/operators/{operator_id}/users/{user_name}/permission":{"get":{"tags":["User"],"summary":"Get User Permission.","description":"Retrieves the SAM user's permissions.","operationId":"getUserPermission","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users permissions get"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/GetUserPermissionResponse"}}}},"put":{"tags":["User"],"summary":"Update Permission to User.","description":"Updates the SAM user's permissions.","operationId":"updateUserPermission","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["users permissions update"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"operator_id","in":"path","description":"operator_id","required":true,"type":"string"},{"name":"user_name","in":"path","description":"user_name","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/SetUserPermissionRequest"}}],"responses":{"200":{"description":"OK"}}}},"/subscribers":{"get":{"summary":"List Subscribers.","description":"Returns a list of subscribers that match a certain criteria. If the total number of subscribers does not fit in one page, a URL for accessing the next page is returned in the 'Link' header of the response.","operationId":"listSubscribers","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers list"],"parameters":[{"name":"tag_name","in":"query","description":"Tag name for filtering the search (exact match).","required":false,"type":"string"},{"name":"tag_value","in":"query","description":"Tag search string for filtering the search. Required when `tag_name` has been specified.","required":false,"type":"string"},{"name":"tag_value_match_mode","in":"query","description":"Tag match mode.","required":false,"type":"string","enum":["exact","prefix"],"default":"exact"},{"name":"status_filter","in":"query","description":"Status for filtering the search. Can specify multiple values delimited by `|`. Valid values include: `active`, `inactive`, `ready`, `instock`, `shipped`, `suspended`, and `terminated`.","required":false,"type":"string"},{"name":"speed_class_filter","in":"query","description":"Speed class for filtering the search. Can specify multiple values delimited by `|`. Valid values include: `s1.minimum`, `s1.slow`, `s1.standard`, `s1.fast`","required":false,"type":"string"},{"name":"limit","in":"query","description":"Maximum number of subscribers to retrieve.","required":false,"type":"integer"},{"name":"last_evaluated_key","in":"query","description":"The IMSI of the last subscriber retrieved on the current page. By specifying this parameter, you can continue to retrieve the list from the next subscriber onward.","required":false,"type":"string"}],"tags":["Subscriber"],"responses":{"200":{"description":"A list of subscibers.","schema":{"type":"array","items":{"$ref":"#/definitions/Subscriber"}}}}}},"/subscribers/{imsi}/register":{"post":{"summary":"Register Subscriber.","description":"Registers a subscriber.","operationId":"registerSubscriber","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers register"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"imsi","in":"path","description":"IMSI of the target subscriber.","required":true,"type":"string"},{"name":"subscriber","in":"body","description":"subscriber","required":true,"schema":{"$ref":"#/definitions/RegisterSubscribersRequest"}}],"tags":["Subscriber"],"responses":{"201":{"description":"Subscriber registration complete.","schema":{"$ref":"#/definitions/Subscriber"}}}}},"/subscribers/{imsi}":{"get":{"summary":"Get Subscriber.","description":"Returns information about the specified subscriber.","operationId":"getSubscriber","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers get"],"parameters":[{"name":"imsi","in":"path","description":"IMSI of the target subscriber.","required":true,"type":"string"}],"tags":["Subscriber"],"responses":{"200":{"description":"The subscriber's detailed information.","schema":{"$ref":"#/definitions/Subscriber"}},"404":{"description":"The specified subscriber does not exist."}}}},"/subscribers/{imsi}/update_speed_class":{"post":{"summary":"Update Subscriber speed class.","description":"Changes the speed class of the specified subscriber.","operationId":"updateSpeedClass","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers update-speed-class"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"imsi","in":"path","type":"string","description":"IMSI of the target subscriber.","required":true},{"name":"speed_class","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateSpeedClassRequest"}}],"tags":["Subscriber"],"responses":{"200":{"description":"The subscriber's detailed information after the update.","schema":{"$ref":"#/definitions/Subscriber"}},"404":{"description":"The specified subscriber does not exist."}}}},"/subscribers/{imsi}/delete_session":{"post":{"summary":"Delete Session","description":"Deletes session for the specified subscriber.","operationId":"deleteSubscriberSession","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers delete-session"],"consumes":["text/plain"],"produces":["application/json"],"parameters":[{"name":"imsi","in":"path","type":"string","description":"IMSI of the target subscriber.","required":true}],"tags":["Subscriber"],"responses":{"200":{"description":"The subscriber's detailed information after the update.","schema":{"$ref":"#/definitions/Subscriber"}},"404":{"description":"The specified subscriber does not exist."}}}},"/subscribers/{imsi}/activate":{"post":{"summary":"Activate Subscriber.","description":"Activates status of specified subscriber.","operationId":"activateSubscriber","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers activate"],"consumes":["text/plain"],"produces":["application/json"],"parameters":[{"name":"imsi","in":"path","description":"IMSI of the target subscriber.","required":true,"type":"string","format":"IMSI"}],"tags":["Subscriber"],"responses":{"200":{"description":"The subscriber's detailed information after the update.","schema":{"$ref":"#/definitions/Subscriber"}},"404":{"description":"The specified subscriber does not exist."}}}},"/subscribers/{imsi}/deactivate":{"post":{"summary":"Deactivate Subscriber.","description":"Deactivates specified subscriber.","operationId":"deactivateSubscriber","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers deactivate"],"consumes":["text/plain"],"produces":["application/json"],"parameters":[{"name":"imsi","in":"path","description":"IMSI of the target subscriber.","required":true,"type":"string","format":"IMSI"}],"tags":["Subscriber"],"responses":{"200":{"description":"The subscriber's detailed information after the update.","schema":{"$ref":"#/definitions/Subscriber"}},"404":{"description":"The specified subscriber does not exist."}}}},"/subscribers/{imsi}/terminate":{"post":{"summary":"Terminate Subscriber.","description":"Terminates the specified subscriber","operationId":"terminateSubscriber","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers terminate"],"consumes":["text/plain"],"produces":["application/json"],"parameters":[{"name":"imsi","in":"path","description":"IMSI of the target subscriber.","required":true,"type":"string","format":"IMSI"}],"tags":["Subscriber"],"responses":{"200":{"description":"The subscriber's detailed information after the update.","schema":{"$ref":"#/definitions/Subscriber"}},"404":{"description":"The specified subscriber does not exist."}}}},"/subscribers/{imsi}/enable_termination":{"post":{"summary":"Enable Termination of Subscriber.","description":"Enables termination of specified subscriber.","operationId":"enableTermination","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers enable-termination"],"consumes":["text/plain"],"produces":["application/json"],"parameters":[{"name":"imsi","in":"path","description":"IMSI of the target subscriber.","required":true,"type":"string","format":"IMSI"}],"tags":["Subscriber"],"responses":{"200":{"description":"The subscriber's detailed information after the update.","schema":{"$ref":"#/definitions/Subscriber"}},"404":{"description":"The specified subscriber does not exist."}}}},"/subscribers/{imsi}/disable_termination":{"post":{"summary":"Disable Termination of Subscriber.","description":"Disables termination of specified subscriber.","operationId":"disableTermination","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers disable-termination"],"consumes":["text/plain"],"produces":["application/json"],"parameters":[{"name":"imsi","in":"path","description":"IMSI of the target subscriber.","required":true,"type":"string","format":"IMSI"}],"tags":["Subscriber"],"responses":{"200":{"description":"The subscriber's detailed information after the update.","schema":{"$ref":"#/definitions/Subscriber"}},"404":{"description":"The specified subscriber does not exist."}}}},"/subscribers/{imsi}/set_expiry_time":{"post":{"summary":"Update Expiry Time of Subscriber.","description":"Updates expiry time of specified subscriber.","operationId":"setExpiryTime","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers set-expiry-time"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"imsi","in":"path","description":"IMSI of the target subscriber.","required":true,"type":"string","format":"IMSI"},{"name":"request","in":"body","description":"Expiry time after the update (unixtime: in milliseconds).","schema":{"$ref":"#/definitions/ExpiryTime"},"required":true}],"tags":["Subscriber"],"responses":{"200":{"description":"The subscriber's detailed information after the update.","schema":{"$ref":"#/definitions/Subscriber"}},"404":{"description":"The specified subscriber does not exist."}}}},"/subscribers/{imsi}/unset_expiry_time":{"post":{"summary":"Delete Expiry Time of Subscriber.","description":"Deletes expiry time of specified subscriber and changes it to indefinite.","operationId":"unsetExpiryTime","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers unset-expiry-time"],"consumes":["text/plain"],"produces":["application/json"],"parameters":[{"name":"imsi","in":"path","description":"IMSI of the target subscriber.","required":true,"type":"string"}],"tags":["Subscriber"],"responses":{"204":{"description":"Change of specified subscriber's expiry time to indefinite complete."},"404":{"description":"The specified subscriber does not exist or the subscriber does not have an expiry time."}}}},"/subscribers/{imsi}/set_group":{"post":{"summary":"Set Group to Subscriber.","description":"Sets or overwrites a group for the specified subscriber.","operationId":"setGroup","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers set-group"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"imsi","in":"path","description":"IMSI of the target subscriber.","required":true,"type":"string"},{"name":"group","in":"body","description":"Group (may include ID only).","schema":{"$ref":"#/definitions/Group"},"required":true}],"tags":["Subscriber"],"responses":{"200":{"description":"The subscriber's detailed information after the update.","schema":{"$ref":"#/definitions/Subscriber"}},"404":{"description":"The specified subscriber does not exist."}}}},"/subscribers/{imsi}/unset_group":{"post":{"summary":"Unset Group to Subscriber.","description":"Removes the group configuration from the specified subscriber.","operationId":"unsetGroup","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers unset-group"],"consumes":["text/plain"],"produces":["application/json"],"parameters":[{"name":"imsi","in":"path","description":"IMSI of the target subscriber.","required":true,"type":"string"}],"tags":["Subscriber"],"responses":{"200":{"description":"The subscriber's detailed information after the update.","schema":{"$ref":"#/definitions/Subscriber"}},"404":{"description":"The specified subscriber does not exist or the subscriber does not belong to a group."}}}},"/subscribers/{imsi}/events/sessions":{"get":{"summary":"List Session Events.","description":"Returns the event history for the specified subscriber, including session creation, change, and deletion. If the total number of events does not fit in one page, a URL for accessing the next page is returned in the `Link` header of the response.","operationId":"listSessionEvents","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers session-events"],"parameters":[{"name":"imsi","in":"path","description":"IMSI of the target subscriber.","required":true,"type":"string"},{"name":"from","in":"query","description":"Start time for the events search range.","required":false,"type":"integer"},{"name":"to","in":"query","description":"End time for the events search range.","required":false,"type":"integer"},{"name":"limit","in":"query","description":"Maximum number of events to retrieve.","required":false,"type":"integer"},{"name":"last_evaluated_key","in":"query","description":"The time stamp of the last event retrieved on the current page. By specifying this parameter, you can continue to retrieve the list from the next event onward.","required":false,"type":"string"}],"tags":["Subscriber"],"responses":{"200":{"description":"A list of session events","schema":{"type":"array","items":{"$ref":"#/definitions/SessionEvent"}}}}}},"/subscribers/{imsi}/tags":{"put":{"summary":"Bulk Insert or Update Subscriber Tags.","description":"Inserts/updates tags for the specified subscriber.","operationId":"putSubscriberTags","x-sam-operationId":"putTags","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers put-tags"],"parameters":[{"name":"imsi","in":"path","description":"IMSI of the target subscriber.","required":true,"type":"string"},{"name":"tags","in":"body","description":"Array of tags to be inserted/updated.","schema":{"type":"array","items":{"$ref":"#/definitions/TagUpdateRequest"}},"required":true}],"tags":["Subscriber"],"responses":{"200":{"description":"The subscriber's detailed information after the update.","schema":{"$ref":"#/definitions/Subscriber"}},"404":{"description":"The specified subscriber does not exist."}}}},"/subscribers/{imsi}/tags/{tag_name}":{"delete":{"summary":"Delete Subscriber Tag.","description":"Deletes a tag from the specified subscriber.","operationId":"deleteSubscriberTag","x-sam-operationId":"deleteTag","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers delete-tag"],"parameters":[{"name":"imsi","in":"path","description":"IMSI of the target subscriber.","required":true,"type":"string"},{"name":"tag_name","in":"path","description":"Tag name to be deleted. (This will be part of a URL path, so it needs to be percent-encoded. In JavaScript, specify the name after it has been encoded using encodeURIComponent().)","type":"string","required":true}],"tags":["Subscriber"],"responses":{"204":{"description":"Deletion of specified tag complete."},"404":{"description":"The specified subscriber or the tag does not exist."}}}},"/subscribers/transfer_token/issue":{"post":{"tags":["Subscriber"],"summary":"Issue Subscribers Transfer Token.","description":"Sends the subscriber's inter-operator control transfer token to the control destination operator.","operationId":"issueSubscriberTransferToken","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers issue-transfer-token"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/IssueSubscriberTransferTokenRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/IssueSubscriberTransferTokenResponse"}}}}},"/subscribers/transfer_token/verify":{"post":{"tags":["Subscriber"],"summary":"Verify Subscriber Transfer Token.","description":"Verifies the subscriber's control transfer token, and executes the transfer. This API is called from the operator of the control destination.","operationId":"verifySubscriberTransferToken","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers verify-transfer-token"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/VerifySubscriberTransferTokenRequest"}}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/VerifySubscriberTransferTokenResponse"}}}}},"/subscribers/transfer_token/{token}":{"delete":{"tags":["Subscriber"],"summary":"Delete Subscribers Transfer Token.","description":"Deletes the subscriber's inter-operator control transfer token, and cancels the control transfer.","operationId":"deleteSubscriberTransferToken","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["subscribers delete-transfer-token"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"token","in":"path","description":"token","required":true,"type":"string"}],"responses":{"204":{"description":"Deletion implemented."},"404":{"description":"The token does not exist."}}}},"/bills":{"get":{"tags":["Billing"],"summary":"Get billing history.","description":"Returns past billing history (after applied discounts such as free tiers, etc., inclusive of tax). This API only returns the billing amounts that have been finalized at the end of the month.","operationId":"getBillingHistory","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["bills list"],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/GetBillingHistoryResponse"}}}}},"/bills/latest":{"get":{"tags":["Billing"],"summary":"Get latest bill.","description":"Returns the latest billing amounts after applied discounts such as free tiers, etc. The amounts retrieved using this API correspond to the values before the invoice was finalized.","operationId":"getLatestBilling","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["bills get-latest"],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetLatestBill"}}}}},"/bills/latest/export":{"post":{"tags":["Billing"],"summary":"Output latest billing CSV file to S3.","description":"Returns detailed information of the billing amounts for the latest month. This detailed information includes billing amounts per day, subscriber, and billing item. The amounts retrieved using this API correspond to the values before the invoice was finalized.","operationId":"exportLatestBilling","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["bills export-latest"],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/FileOutputResult"}}}}},"/bills/{yyyyMM}":{"get":{"tags":["Billing"],"summary":"Get bill.","description":"Returns the billing history for the specified month (after applied discounts such as free tiers, etc., inclusive of tax). The amounts retrieved using this API correspond to the values before the invoice was finalized.","operationId":"getBilling","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["bills get"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"yyyyMM","in":"path","description":"year and month","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/MonthlyBill"}}}}},"/bills/{yyyyMM}/daily":{"get":{"tags":["Billing"],"summary":"Get bill per day.","description":"Returns detailed information of billing amounts per day for the specified month. This API only returns the billing amounts that have been finalized.","operationId":"getBillingPerDay","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["bills get-daily"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"yyyyMM","in":"path","description":"year and month","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/DailyBillResponse"}}}}},"/bills/{yyyyMM}/export":{"post":{"tags":["Billing"],"summary":"Output billing CSV file to S3.","description":"Returns detailed information for the billing amounts for the specified month. This detailed information includes billing amounts per day, subscriber, and billing item.","operationId":"exportBilling","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["bills export"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"yyyyMM","in":"path","description":"yyyyMM","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/FileOutputResult"}}}}},"/coupons":{"get":{"tags":["Payment"],"summary":"List coupons.","description":"Returns a list of currently registered coupons.","operationId":"listCoupons","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["coupons list"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/ListCouponResponse"}}}}},"/coupons/{coupon_code}/register":{"post":{"tags":["Payment"],"summary":"Register Coupon.","description":"Registers a coupon.","operationId":"registerCoupon","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["coupons register"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"coupon_code","in":"path","description":"coupon_code","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/CouponResponse"}}}}},"/payment_history/transactions/{payment_transaction_id}":{"get":{"tags":["Payment"],"summary":"Get payment transaction result.","description":"Returns result of a payment transaction.","operationId":"getPaymentTransaction","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["payment-history get"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"payment_transaction_id","in":"path","description":"payment_transaction_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/GetPaymentTransactionResult"}}}}},"/payment_methods/current":{"get":{"tags":["Payment"],"summary":"Get payment method information","description":"Returns current payment methods. Detailed information is included in the properties.","operationId":"getPaymentMethod","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["payment-methods get-current"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/GetPaymentMethodResult"}}}}},"/payment_methods/current/activate":{"post":{"tags":["Payment"],"summary":"Activate payment method.","description":"Activates a current payment method that has an error.","operationId":"activatePaymentMethod","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["payment-methods reactivate-current"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK.","schema":{"type":"object"}}}}},"/payment_methods/webpay":{"post":{"tags":["Payment"],"summary":"Register credit card information for WebPay.","description":"Registers credit card information for WebPay payments.","operationId":"registerWebPayPaymentMethod","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["payment-methods webpay register"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"creditCard","description":"creditCard","required":true,"schema":{"$ref":"#/definitions/CreditCard"}}],"responses":{"200":{"description":"OK.","schema":{"type":"object"}}}}},"/event_handlers":{"get":{"tags":["EventHandler"],"summary":"List Event Handlers.","description":"Returns a list of event handlers.","operationId":"listEventHandlers","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["event-handlers list"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"target","in":"query","description":"target","required":false,"type":"string","enum":["operator","imsi","tag","group"]}],"responses":{"200":{"description":"OK.","schema":{"type":"array","items":{"$ref":"#/definitions/EventHandlerModel"}}}}},"post":{"tags":["EventHandler"],"summary":"Create Event Handler.","description":"Creates a new event handler.","operationId":"createEventHandler","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["event-handlers create"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"req","description":"req","required":true,"schema":{"$ref":"#/definitions/CreateEventHandlerRequest"}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/EventHandlerModel"}}}}},"/event_handlers/subscribers/{imsi}":{"get":{"tags":["EventHandler"],"summary":"List Event Handlers related to Subscriber.","description":"Returns a list of event handlers related to the specified IMSI.","operationId":"listEventHandlersBySubscriber","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["event-handlers list-for-subscriber"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"path","name":"imsi","description":"imsi","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"type":"array","items":{"$ref":"#/definitions/EventHandlerModel"}}}}}},"/event_handlers/{handler_id}":{"get":{"tags":["EventHandler"],"summary":"Get Event Handler.","description":"Returns information about the specified event handler.","operationId":"getEventHandler","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["event-handlers get"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"path","name":"handler_id","description":"handler ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/EventHandlerModel"}},"404":{"description":"Handler not found."}}},"put":{"tags":["EventHandler"],"summary":"Update Event Handler.","description":"Updates the specified event handler.","operationId":"updateEventHandler","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["event-handlers update"],"consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"path","name":"handler_id","description":"handler ID","required":true,"type":"string"},{"in":"body","name":"eventHandlerModel","description":"eventHandlerModel","required":true,"schema":{"$ref":"#/definitions/UpdateEventHandlerRequest"}}],"responses":{"200":{"description":"OK."},"400":{"description":"Invalid handlerId."}}},"delete":{"tags":["EventHandler"],"summary":"Delete Event Handler.","description":"Deletes the specified event handler.","operationId":"deleteEventHandler","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["event-handlers delete"],"consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"path","name":"handler_id","description":"handler ID","required":true,"type":"string"}],"responses":{"204":{"description":"OK."},"404":{"description":"EventHandler not found."}}}},"/event_handlers/{handler_id}/subscribers/{imsi}/ignore":{"post":{"tags":["EventHandler"],"summary":"Ignore Event Handler.","description":"Adds a setting for ignoring the specified event handler of the specified IMSI.","operationId":"setIgnoreEventHandler","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["event-handlers ignore"],"consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"imsi","in":"path","description":"imsi","required":true,"type":"string"},{"name":"handler_id","in":"path","description":"handler_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["EventHandler"],"summary":"Delete Ignore Event Handler.","description":"Deletes the setting for ignoring the specified event handler of the specified IMSI.","operationId":"deleteIgnoreEventHandler","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["event-handlers unignore"],"consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"imsi","in":"path","description":"imsi","required":true,"type":"string"},{"name":"handler_id","in":"path","description":"handler_id","required":true,"type":"string"}],"responses":{"204":{"description":"OK"},"404":{"description":"not found"}}}},"/orders":{"get":{"tags":["Order"],"summary":"List confirmed orders.","description":"Returns a list of confirmed orders.","operationId":"listOrders","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["orders list"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/ListOrderResponse"}}}},"post":{"tags":["Order"],"summary":"Create Quotation.","description":"Creates a new order quotation. If the orderId is put in /confirm, the order is complete.","operationId":"createQuotation","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["orders create"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/CreateEstimatedOrderRequest"}}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/EstimatedOrderModel"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/EstimatedOrderModel"}}}}},"/orders/{order_id}":{"get":{"tags":["Order"],"summary":"Get confirmed order.","description":"Returns a confirmed order.","operationId":"getOrder","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["orders get"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"order_id","in":"path","description":"order_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/GetOrderResponse"}}}}},"/orders/{order_id}/cancel":{"put":{"tags":["Order"],"summary":"Cancel order.","description":"Cancels an order. If the order has already been dispatched, an error is returned.","operationId":"cancelOrder","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["orders cancel"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"order_id","in":"path","description":"order_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"type":"string"}}}}},"/orders/{order_id}/confirm":{"put":{"tags":["Order"],"summary":"Confirm order.","description":"Performs a credit limit and confirms the order if no problems are encountered.","operationId":"confirmOrder","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["orders confirm"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"order_id","in":"path","description":"order_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"type":"string"}}}}},"/orders/{order_id}/subscribers/register":{"post":{"tags":["Order"],"summary":"Register subscribers for operator.","description":"Registers the ordered SIM with the operator.","operationId":"registerOrderedSim","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["orders register-subscribers"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"order_id","in":"path","description":"order_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK.","schema":{"type":"string"}}}}},"/orders/{order_id}/subscribers":{"get":{"tags":["Order"],"summary":"List ordered subscribers.","description":"List ordered subscribers","operationId":"listOrderedSubscribers","consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"parameters":[{"name":"order_id","in":"path","description":"order_id","required":true,"type":"string"},{"name":"last_evaluated_key","in":"query","description":"Serial number of the last subscriber in the previous page that is set to response header with X-Soracom-Next-Key.","required":false,"type":"string"},{"name":"limit","in":"query","description":"Max number of subscribers in a response.","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/ListOrderedSubscriberResponse"}}}}},"/products":{"get":{"tags":["Order"],"summary":"List products.","description":"Returns a list of products.","operationId":"listProducts","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["products list"],"consumes":["application/json"],"produces":["application/json;charset=UTF-8"],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/ListProductResponse"}}}}},"/stats/air/subscribers/{imsi}":{"get":{"tags":["Stats"],"summary":"Get Air Usage Report of Subscriber.","description":"Retrieves the usage report for the subscriber specified by the IMSI.","operationId":"getAirStats","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["stats air get"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"imsi","in":"path","description":"imsi","required":true,"type":"string"},{"name":"from","in":"query","description":"Start time in unixtime for the aggregate data.","required":true,"type":"integer"},{"name":"to","in":"query","description":"End time in unixtime for the aggregate data.","required":true,"type":"integer"},{"name":"period","in":"query","description":"Units of aggregate data. For minutes, the interval is every 5 minutes.","required":true,"type":"string","enum":["month","day","minutes"]}],"responses":{"200":{"description":"OK.","schema":{"type":"array","items":{"$ref":"#/definitions/AirStatsResponse"}}}}}},"/stats/beam/subscribers/{imsi}":{"get":{"tags":["Stats"],"summary":"Get Beam Usage Report of Subscriber.","description":"Retrieves the Soracom Beam usage report for the subscriber specified by the IMSI.","operationId":"getBeamStats","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["stats beam get"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"imsi","in":"path","description":"imsi","required":true,"type":"string"},{"name":"from","in":"query","description":"Start time in unixtime for the aggregate data.","required":true,"type":"integer"},{"name":"to","in":"query","description":"End time in unixtime for the aggregate data.","required":true,"type":"integer"},{"name":"period","in":"query","description":"Units of aggregate data. For minutes, the interval is every 5 minutes.","required":true,"type":"string","enum":["month","day","minutes"]}],"responses":{"200":{"description":"OK.","schema":{"type":"array","items":{"$ref":"#/definitions/BeamStatsResponse"}}}}}},"/stats/air/operators/{operator_id}/export":{"post":{"tags":["Stats"],"summary":"Export Air Usage Report of All Subscribers.","description":"Retrieves a file containing the usage report of all subscribers for the specified operator. The report data range is specified with from, to in unixtime. The report contains monthly data. The file output destination is AWS S3. The file output format is CSV.","operationId":"exportAirStats","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["stats air export"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"path","name":"operator_id","description":"operator ID","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ExportRequest"}}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/FileOutputResult"}}}}},"/stats/beam/operators/{operator_id}/export":{"post":{"tags":["Stats"],"summary":"Export Beam Usage Report of All Subscribers.","description":"Retrieves a file containing the usage report of all subscribers for the specified operator. The report data range is specified with from, to in unixtime. The report contains monthly data. The file output destination is AWS S3. The file output format is CSV.","operationId":"exportBeamStats","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["stats beam export"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"path","name":"operator_id","description":"operator ID","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ExportRequest"}}],"responses":{"200":{"description":"OK.","schema":{"$ref":"#/definitions/FileOutputResult"}}}}},"/groups":{"get":{"summary":"List Groups.","description":"Returns a list of groups.","operationId":"listGroups","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["groups list"],"parameters":[{"name":"tag_name","in":"query","description":"Tag name of the group. Filters through all groups that exactly match the tag name. When tag_name is specified, tag_value is required.","required":false,"type":"string"},{"name":"tag_value","in":"query","description":"Tag value of the groups.","required":false,"type":"string"},{"name":"tag_value_match_mode","in":"query","description":"Tag match mode.","required":false,"type":"string","enum":["exact","prefix"],"default":"exact"},{"name":"limit","in":"query","description":"Maximum number of results per response page.","required":false,"type":"integer"},{"name":"last_evaluated_key","in":"query","description":"The last Group ID retrieved on the current page. By specifying this parameter, you can continue to retrieve the list from the next group onward.","required":false,"type":"string"}],"tags":["Group"],"responses":{"200":{"description":"A list of groups.","schema":{"type":"array","items":{"$ref":"#/definitions/Group"}}}}},"post":{"summary":"Create Group.","description":"Create a new group.","operationId":"createGroup","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["groups create"],"parameters":[{"name":"Group","in":"body","description":"Group to be created.","schema":{"$ref":"#/definitions/CreateGroupRequest"},"required":true}],"tags":["Group"],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/Group"}}}}},"/groups/{group_id}":{"get":{"summary":"Get Group.","description":"Returns the group specified by the group ID.","operationId":"getGroup","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["groups get"],"parameters":[{"name":"group_id","in":"path","description":"Target group ID.","required":true,"type":"string"}],"tags":["Group"],"responses":{"200":{"description":"The specified group.","schema":{"$ref":"#/definitions/Group"}},"404":{"description":"The specified group does not exist."}}},"delete":{"summary":"Delete Group.","description":"Deletes the specified group by group ID","operationId":"deleteGroup","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["groups delete"],"parameters":[{"name":"group_id","in":"path","description":"Target group ID.","required":true,"type":"string"}],"tags":["Group"],"responses":{"204":{"description":"Deletion of specified group complete."},"404":{"description":"The specified group does not exist."}}}},"/groups/{group_id}/subscribers":{"get":{"summary":"List Subscribers in a group.","description":"Returns a list of subscribers that belong to the specified group by group ID.","operationId":"listSubscribersInGroup","x-sam-operationId":"listSubscribers","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["groups list-subscribers"],"parameters":[{"name":"group_id","in":"path","description":"Target group ID.","required":true,"type":"string"},{"name":"limit","in":"query","description":"Maximum number of results per response page.","required":false,"type":"integer"},{"name":"last_evaluated_key","in":"query","description":"The IMSI of the last subscriber retrieved on the current page. By specifying this parameter, you can continue to retrieve the list from the next subscriber onward.","required":false,"type":"string"}],"tags":["Group"],"responses":{"200":{"description":"Target group ID","schema":{"$ref":"#/definitions/Group"}},"404":{"description":"The specified group does not exist."}}}},"/groups/{group_id}/configuration/{namespace}":{"put":{"summary":"Update Group Configuration Parameters.","description":"Adds/updates parameters for the specified group.","operationId":"putConfigurationParameters","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["groups put-config"],"parameters":[{"name":"group_id","in":"path","description":"Target group.","required":true,"type":"string"},{"name":"namespace","in":"path","description":"Target configuration.","required":true,"type":"string","enum":["SoracomAir","SoracomBeam"]},{"name":"parameters","in":"body","description":"Array of values for target object to be updated.","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/GroupConfigurationUpdateRequest"}}}],"tags":["Group"],"responses":{"200":{"description":"The group after the update.","schema":{"$ref":"#/definitions/Group"}},"404":{"description":"The specified group does not exist."}}}},"/groups/{group_id}/configuration/{namespace}/{name}":{"delete":{"summary":"Delete Group Configuration Parameters.","description":"Delete parameters for the specified group.","operationId":"deleteConfigurationParameter","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["groups delete-config"],"parameters":[{"name":"group_id","in":"path","description":"Target group.","required":true,"type":"string"},{"name":"namespace","in":"path","description":"Namespace of target parameters.","required":true,"type":"string","enum":["SoracomAir","SoracomBeam"]},{"name":"name","in":"path","description":"Parameter name to be deleted. (This will be part of a URL path, so it needs to be percent-encoded. In JavaScript, specify the name after it has been encoded using encodeURIComponent().)","required":true,"type":"string"}],"tags":["Group"],"responses":{"204":{"description":"The parameter was successfully deleted."},"404":{"description":"The specified group does not exist."}}}},"/groups/{group_id}/tags":{"put":{"summary":"Update Group Tags.","description":"Adds/updates tags of specified configuration group.","operationId":"putGroupTags","x-sam-operationId":"putTags","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["groups put-tags"],"parameters":[{"name":"group_id","in":"path","description":"Target group ID.","required":true,"type":"string"},{"name":"tags","in":"body","description":"Array of values for tags to be updated.","schema":{"type":"array","items":{"$ref":"#/definitions/TagUpdateRequest"}},"required":true}],"tags":["Group"],"responses":{"200":{"description":"The subscriber's detailed information after the update.","schema":{"$ref":"#/definitions/Subscriber"}},"404":{"description":"The specified subscriber does not exist."}}}},"/groups/{group_id}/tags/{tag_name}":{"delete":{"summary":"Delete Group Tag.","description":"Deletes tag from the specified group.","operationId":"deleteGroupTag","x-sam-operationId":"deleteTag","security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["groups delete-tag"],"parameters":[{"name":"group_id","in":"path","description":"Target group ID.","required":true,"type":"string"},{"name":"tag_name","in":"path","description":"Tag name to be deleted. (This will be part of a URL path, so it needs to be percent-encoded. In JavaScript, specify the name after it has been encoded using encodeURIComponent().)","type":"string","required":true}],"tags":["Group"],"responses":{"204":{"description":"Tag deletion complete."},"404":{"description":"The specified subscriber or the tag does not exist."}}}},"/virtual_private_gateways":{"get":{"summary":"List Virtual Private Gateways.","description":"Returns a list of VPGs.","x-soracom-cli":["vpg list"],"operationId":"listVirtualPrivateGateways","produces":["application/json"],"security":[{"api_key":[]},{"api_token":[]}],"parameters":[{"name":"tag_name","in":"query","description":"Tag name of the VPG. Filters through all VPGs that exactly match the tag name. When tag_name is specified, tag_value is required.","required":false,"type":"string"},{"name":"tag_value","in":"query","description":"Tag value of the VPGs.","required":false,"type":"string"},{"name":"tag_value_match_mode","in":"query","description":"Tag match mode.","required":false,"type":"string","enum":["exact","prefix"],"default":"exact"},{"name":"limit","in":"query","description":"Maximum number of results per response page.","required":false,"type":"integer"},{"name":"last_evaluated_key","in":"query","description":"The last group ID retrieved on the current page. By specifying this parameter, you can continue to retrieve the list from the next VPG onward.","required":false,"type":"string"}],"tags":["VirtualPrivateGateway"],"responses":{"200":{"description":"List of VPGs.","schema":{"type":"array","items":{"$ref":"#/definitions/VirtualPrivateGateway"}}}}},"post":{"summary":"Create Virtual Private Gateway.","description":"Create new VPG.","x-soracom-cli":["vpg create"],"operationId":"createVirtualPrivateGateway","consumes":["application/json"],"produces":["application/json"],"security":[{"api_key":[]},{"api_token":[]}],"parameters":[{"name":"CreateVirtualPrivateGatewayRequest","in":"body","description":"Request containing information for the new VPG to be created.","schema":{"$ref":"#/definitions/CreateVirtualPrivateGatewayRequest"},"required":true}],"tags":["VirtualPrivateGateway"],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/VirtualPrivateGateway"}}}}},"/virtual_private_gateways/{vpg_id}":{"get":{"summary":"Get Virtual Private Gateway.","description":"Retrieves information about the specified VPG.","x-soracom-cli":["vpg get"],"operationId":"getVirtualPrivateGateway","produces":["application/json"],"security":[{"api_key":[]},{"api_token":[]}],"parameters":[{"name":"vpg_id","in":"path","description":"Target VPG ID.","required":true,"type":"string"}],"tags":["VirtualPrivateGateway"],"responses":{"200":{"description":"The specified VPG."},"404":{"description":"The specified VPG does not exist."}}}},"/virtual_private_gateways/{vpg_id}/terminate":{"post":{"summary":"Terminate Virtual Private Gateway.","description":"Terminates the specified VPG.","x-soracom-cli":["vpg terminate"],"operationId":"terminateVirtualPrivateGateway","consumes":["text/plain"],"produces":["application/json"],"security":[{"api_key":[]},{"api_token":[]}],"parameters":[{"name":"vpg_id","in":"path","description":"Target VPG ID.","required":true,"type":"string"}],"tags":["VirtualPrivateGateway"],"responses":{"200":{"description":"Termination of specified VPG started."},"400":{"description":"There is a reason why the specified VPG cannot be terminated."},"404":{"description":"The specified VPG does not exist."}}}},"/virtual_private_gateways/{vpg_id}/gate/open":{"post":{"summary":"Open SORACOM Gate.","description":"Open SORACOM Gate on the specified VPG.","x-soracom-cli":["vpg open-gate"],"operationId":"openGate","consumes":["text/plain"],"produces":["application/json"],"security":[{"api_key":[]},{"api_token":[]}],"parameters":[{"name":"vpg_id","in":"path","description":"Target VPG ID.","required":true,"type":"string"}],"tags":["VirtualPrivateGateway"],"responses":{"200":{"description":"SORACOM Gate is successfully opened on the VPG."},"400":{"description":"Client side error."},"404":{"description":"The specified VPG does not exist."}}}},"/virtual_private_gateways/{vpg_id}/gate/close":{"post":{"summary":"Close SORACOM Gate.","description":"Close SORACOM Gate on the specified VPG.","x-soracom-cli":["vpg close-gate"],"operationId":"closeGate","consumes":["text/plain"],"produces":["application/json"],"security":[{"api_key":[]},{"api_token":[]}],"parameters":[{"name":"vpg_id","in":"path","description":"Target VPG ID.","required":true,"type":"string"}],"tags":["VirtualPrivateGateway"],"responses":{"200":{"description":"SORACOM Gate is successfully closed on the VPG."},"400":{"description":"Client side error."},"404":{"description":"The specified VPG does not exist."}}}},"/virtual_private_gateways/{vpg_id}/gate/peers":{"get":{"summary":"List VPG Gate peers","description":"List Gate peers registered in the Virtual Private Gateway","x-soracom-cli":["vpg list-gate-peers"],"operationId":"listGatePeers","consumes":["text/plain"],"produces":["application/json"],"security":[{"api_key":[]},{"api_token":[]}],"parameters":[{"name":"vpg_id","in":"path","description":"Target VPG ID.","required":true,"type":"string"}],"tags":["VirtualPrivateGateway"],"responses":{"200":{"description":"List of peers registered in the VPG.","schema":{"type":"array","items":{"$ref":"#/definitions/GatePeer"}}},"400":{"description":"Client side error in the request."},"404":{"description":"The specified VPG does not exist."}}},"post":{"summary":"Register VPG Gate peer","description":"Register a host as a gate peer in the Virtual Private Gateway","x-soracom-cli":["vpg register-gate-peer"],"operationId":"registerGatePeer","consumes":["application/json"],"produces":["application/json"],"security":[{"api_key":[]},{"api_token":[]}],"parameters":[{"name":"vpg_id","in":"path","description":"Target VPG ID.","required":true,"type":"string"},{"name":"gate_peer","in":"body","required":true,"schema":{"$ref":"#/definitions/RegisterGatePeerRequest"}}],"tags":["VirtualPrivateGateway"],"responses":{"200":{"description":"Gate peer is successfully registered.","schema":{"$ref":"#/definitions/GatePeer"}},"400":{"description":"Client side error in the request."},"404":{"description":"The specified VPG does not exist."}}}},"/virtual_private_gateways/{vpg_id}/gate/peers/{outer_ip_address}":{"delete":{"summary":"Unregister VPG gate peer","description":"Unregister a gate peer from the Virtual Private Gateway","x-soracom-cli":["vpg unregister-gate-peer"],"operationId":"unregisterGatePeer","consumes":["text/plain"],"produces":["application/json"],"security":[{"api_key":[]},{"api_token":[]}],"parameters":[{"name":"vpg_id","in":"path","description":"Target VPG ID.","required":true,"type":"string"},{"name":"outer_ip_address","in":"path","description":"ID of the target node.","required":true,"type":"string"}],"tags":["VirtualPrivateGateway"],"responses":{"204":{"description":"Successfully deregistered the Gate peer."},"400":{"description":"Error in the request."},"404":{"description":"The specified VPG or node does not exist."}}}},"/virtual_private_gateways/{vpg_id}/ip_address_map":{"get":{"summary":"List VPG IP address map entries","description":"Describes the list of IP addresse map entries in the Virtual Private Gateway","x-soracom-cli":["vpg list-ip-address-map-entries"],"operationId":"listVirtualPrivateGatewayIpAddressMapEntries","consumes":["text/plain"],"produces":["application/json"],"security":[{"api_key":[]},{"api_token":[]}],"parameters":[{"name":"vpg_id","in":"path","description":"Target VPG ID.","required":true,"type":"string"}],"tags":["VirtualPrivateGateway"],"responses":{"200":{"description":"Successfully fetched the list of IP address map entries.","schema":{"type":"array","items":{"$ref":"#/definitions/IpAddressMapEntry"}}},"400":{"description":"Error in the request."},"404":{"description":"The specified VPG or node does not exist."}}},"post":{"summary":"Put an entry in VPG IP address map","description":"Puts an entry in VPG IP address map.","x-soracom-cli":["vpg put-ip-address-map-entry"],"operationId":"putVirtualPrivateGatewayIpAddressMapEntry","consumes":["application/json"],"produces":["application/json"],"security":[{"api_key":[]},{"api_token":[]}],"parameters":[{"name":"vpg_id","in":"path","description":"Target VPG ID.","required":true,"type":"string"},{"name":"put_ip_address_map_entry_request","in":"body","required":true,"schema":{"$ref":"#/definitions/PutIpAddressMapEntryRequest"}}],"tags":["VirtualPrivateGateway"],"responses":{"200":{"description":"Successfully put an entry for the specified key and IP address.","schema":{"$ref":"#/definitions/IpAddressMapEntry"}},"400":{"description":"Error in the request."},"404":{"description":"The specified VPG or node does not exist."}}}},"/virtual_private_gateways/{vpg_id}/ip_address_map/{key}":{"delete":{"summary":"Delete VPG IP address map entry","description":"Deletes an entry in VPG IP address map.","x-soracom-cli":["vpg delete-ip-address-map-entry"],"operationId":"deleteVirtualPrivateGatewayIpAddressMapEntry","consumes":["text/plain"],"produces":["text/plainn"],"security":[{"api_key":[]},{"api_token":[]}],"parameters":[{"name":"vpg_id","in":"path","description":"Target VPG ID.","required":true,"type":"string"},{"name":"key","in":"path","description":"Target key to remove.","required":true,"type":"string"}],"tags":["VirtualPrivateGateway"],"responses":{"204":{"description":"Successfully deleted the entry from the VPG IP address map.","schema":{"$ref":"#/definitions/IpAddressMapEntry"}},"400":{"description":"Error in the request."},"404":{"description":"The specified VPG or node does not exist."}}}},"/virtual_private_gateways/{vpg_id}/vpc_peering_connections":{"post":{"summary":"Create VPC Peering Connection","description":"Creates a VPC peering connection for the specified VPG.","operationId":"createVpcPeeringConnection","consumes":["application/json"],"produces":["application/json"],"security":[{"api_key":[]},{"api_token":[]}],"x-soracom-cli":["vpg create-vpc-peering-connection"],"parameters":[{"name":"vpg_id","in":"path","description":"Target VPG ID.","required":true,"type":"string"},{"name":"vpc_peering_connection","in":"body","description":"VPC peering connection to be created.","schema":{"$ref":"#/definitions/CreateVpcPeeringConnectionRequest"},"required":true}],"tags":["VirtualPrivateGateway"],"responses":{"201":{"description":"The created VPC peering connection.","schema":{"$ref":"#/definitions/CreateVpcPeeringConnectionRequest"}},"404":{"description":"The specified VPC peering connection does not exist."}}}},"/virtual_private_gateways/{vpg_id}/vpc_peering_connections/{pcx_id}":{"delete":{"summary":"Delete VPC Peering Connection.","description":"Deletes the specified VPC peering connection.","operationId":"deleteVpcPeeringConnection","x-soracom-cli":["vpg delete-vpc-peering-connection"],"security":[{"api_key":[]},{"api_token":[]}],"parameters":[{"name":"vpg_id","in":"path","description":"Target VPG ID.","required":true,"type":"string"},{"name":"pcx_id","in":"path","description":"VPC peering connection ID to be deleted.","required":true,"type":"string"}],"tags":["VirtualPrivateGateway"],"responses":{"204":{"description":"Deletion of specified VPC peering connection complete."},"404":{"description":"The specified VPC peering connection does not exist."}}}}},"definitions":{"Subscriber":{"properties":{"imsi":{"type":"string"},"msisdn":{"type":"string"},"serialNumber":{"type":"string"},"iccid":{"type":"string"},"apn":{"type":"string"},"speedClass":{"type":"string"},"createdAt":{"type":"integer","format":"int64"},"lastModifiedAt":{"type":"integer","format":"int64"},"expiryTime":{"type":"integer","format":"int64"},"expiryAction":{"type":"string"},"status":{"type":"string"},"sessionStatus":{"$ref":"#/definitions/SessionStatus"},"tags":{"$ref":"#/definitions/Map"},"operatorId":{"type":"string"}}},"ExpiryTime":{"properties":{"expiryTime":{"type":"integer","format":"int64"},"expiryAction":{"type":"string","enum":["doNothing","deleteSession","deactivate","terminate"]}},"required":["expiryTime"]},"SessionStatus":{"properties":{"isOnline":{"type":"boolean"},"lastUpdatedAt":{"type":"integer","format":"int64"},"imei":{"type":"string"},"ueIpAddress":{"type":"string"},"dnsServers":{"type":"array","items":{"type":"string"}},"vpgId":{"type":"string"},"gatewayPrivateIpAddress":{"type":"string"},"gatewayPublicIpAddress":{"type":"string"}}},"SessionEvent":{"properties":{"operatorId":{"type":"string"},"imsi":{"type":"string"},"time":{"type":"integer","format":"int64"},"event":{"type":"string"},"imei":{"type":"string"},"ueIpAddress":{"type":"string"},"apn":{"type":"string"},"dns0":{"type":"string"},"dns1":{"type":"string"},"vpgId":{"type":"string"},"gatewayPrivateIpAddress":{"type":"string"},"gatewayPublicIpAddress":{"type":"string"}}},"Map":{"type":"object","additionalProperties":{"type":"string"}},"Tag":{"type":"object","additionalProperties":{"type":"string"},"example":{"location":"tokyo"}},"TagUpdateRequest":{"type":"object","properties":{"tagName":{"type":"string"},"tagValue":{"type":"string"}},"required":["tagName","tagValue"]},"GroupConfigurationUpdateRequest":{"properties":{"key":{"type":"string"},"value":{"type":"string"}},"required":["key","value"]},"Group":{"properties":{"configuration":{"$ref":"#/definitions/Map"},"createdTime":{"type":"integer","format":"int64"},"groupId":{"type":"string"},"lastModifiedTime":{"type":"integer","format":"int64"},"operatorId":{"type":"string"},"tags":{"$ref":"#/definitions/Tag"}}},"CreateGroupRequest":{"properties":{"tags":{"$ref":"#/definitions/Tag"}}},"Error":{"properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"fields":{"type":"string"}}},"APICallError":{"properties":{"errorMessage":{"$ref":"#/definitions/APICallErrorMessage"},"httpStatus":{"type":"integer","format":"int32"}}},"APICallErrorMessage":{"required":["code","message"],"properties":{"code":{"type":"string","description":"エラーコード"},"message":{"type":"string","description":"エラーメッセージ。リクエスト時にX-Soracom-Langヘッダーに言語(en,ja)を設定するとその言語のメッセージがセットされます。"}}},"VerifyOperatorsRequest":{"properties":{"token":{"type":"string"}},"required":["token"]},"AuthRequest":{"properties":{"authKey":{"type":"string"},"authKeyId":{"type":"string"},"email":{"type":"string"},"operatorId":{"type":"string"},"password":{"type":"string"},"tokenTimeoutSeconds":{"type":"integer","format":"int64","default":86400,"maximum":172800},"userName":{"type":"string"}}},"AuthResponse":{"properties":{"apiKey":{"type":"string"},"operatorId":{"type":"string"},"token":{"type":"string"},"userName":{"type":"string"}}},"APIKeyResponse":{"properties":{"apiKey":{"type":"string"}}},"ListSubOperatorsResponse":{"properties":{"operatorId":{"type":"string"}}},"IssueEmailChangeTokenRequest":{"required":["email"],"properties":{"email":{"type":"string"}}},"VerifyEmailChangeTokenRequest":{"required":["token"],"properties":{"token":{"type":"string"}}},"AuthKeyResponse":{"properties":{"authKeyId":{"type":"string"},"createDateTime":{"type":"integer","format":"int64"},"lastUsedDateTime":{"type":"integer","format":"int64"}}},"GenerateOperatorsAuthKeyResponse":{"properties":{"authKey":{"type":"string"},"authKeyId":{"type":"string"}}},"GetOperatorResponse":{"properties":{"createDate":{"type":"string"},"description":{"type":"string"},"email":{"type":"string"},"operatorId":{"type":"string"},"rootOperatorId":{"type":"string"},"updateDate":{"type":"string"}}},"IssuePasswordResetTokenRequest":{"properties":{"email":{"type":"string"}},"required":["email"]},"VerifyPasswordResetTokenRequest":{"properties":{"password":{"type":"string"},"token":{"type":"string"}},"required":["password","token"]},"CredentialsModel":{"properties":{"createDateTime":{"type":"integer","format":"int64"},"credentials":{"type":"object"},"credentialsId":{"type":"string"},"description":{"type":"string"},"lastUsedDateTime":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["aws-credentials","azure-credentials"]},"updateDateTime":{"type":"integer","format":"int64"}}},"CreateAndUpdateCredentialsModel":{"properties":{"credentials":{"type":"object"},"description":{"type":"string"},"type":{"type":"string","enum":["aws-credentials","azure-credentials"]}}},"GenerateTokenRequest":{"properties":{"tokenTimeoutSeconds":{"type":"integer","maximum":172800,"default":86400,"description":"新しい API トークンの有効期限の長さ（秒単位）。\n指定しなければデフォルトは 86400 [秒]（24時間）。\n最大値は 172800 [秒]（48時間）。\n"}}},"GenerateTokenResponse":{"properties":{"token":{"type":"string"}},"required":["token"]},"UpdatePasswordRequest":{"required":["currentPassword","newPassword"],"properties":{"currentPassword":{"type":"string"},"newPassword":{"type":"string"}}},"SupportTokenResponse":{"properties":{"token":{"type":"string"}},"required":["token"]},"RegisterOperatorsRequest":{"properties":{"email":{"type":"string"},"password":{"type":"string","description":"パスワードは以下の条件を満たしている必要があります：長さ 8 文字以上100 文字以内、アルファベット小文字 (a-z) を 1 文字以上使用、アルファベット大文字 (A-Z) を 1 文字以上使用、数字を 1 文字以上使用。記号なども使用できます。"}},"required":["email","password"]},"ListRolesResponse":{"properties":{"createDateTime":{"type":"integer","format":"int64"},"description":{"type":"string"},"roleId":{"type":"string"},"updateDateTime":{"type":"integer","format":"int64"}}},"RoleResponse":{"properties":{"createDateTime":{"type":"integer","format":"int64"},"description":{"type":"string"},"permission":{"type":"string","description":"PermissionのJSON"},"roleId":{"type":"string"},"updateDateTime":{"type":"integer","format":"int64"}}},"CreateOrUpdateRoleRequest":{"required":["permission"],"properties":{"description":{"type":"string"},"permission":{"type":"string","description":"PermissionのJSON"}}},"CreateRoleResponse":{"properties":{"roleId":{"type":"string"}}},"UserDetailResponse":{"properties":{"authKeyList":{"type":"array","items":{"$ref":"#/definitions/AuthKeyResponse"}},"createDateTime":{"type":"integer","format":"int64"},"description":{"type":"string"},"hasPassword":{"type":"boolean"},"permission":{"type":"string"},"roleList":{"type":"array","items":{"$ref":"#/definitions/ListRolesResponse"}},"updateDateTime":{"type":"integer","format":"int64"},"userName":{"type":"string"}}},"AttachRoleRequest":{"properties":{"roleId":{"type":"string"}}},"ListShippingAddressResponse":{"properties":{"shippingAddresses":{"type":"array","items":{"$ref":"#/definitions/GetShippingAddressResponse"}}}},"ShippingAddressModel":{"required":["city","state","zipCode"],"properties":{"addressLine1":{"type":"string"},"addressLine2":{"type":"string"},"building":{"type":"string"},"city":{"type":"string"},"companyName":{"type":"string"},"department":{"type":"string"},"fullName":{"type":"string"},"phoneNumber":{"type":"string"},"state":{"type":"string"},"zipCode":{"type":"string"}}},"GetShippingAddressResponse":{"required":["city","shippingAddressId","shippingArea","state","zipCode"],"properties":{"addressLine1":{"type":"string"},"addressLine2":{"type":"string"},"building":{"type":"string"},"city":{"type":"string"},"companyName":{"type":"string"},"department":{"type":"string"},"fullName":{"type":"string"},"phoneNumber":{"type":"string"},"shippingAddressId":{"type":"string","description":"配送先ID"},"shippingArea":{"type":"string","description":"配送先エリア"},"state":{"type":"string"},"zipCode":{"type":"string"}}},"CreateUserRequest":{"properties":{"description":{"type":"string"}}},"UpdateUserRequest":{"properties":{"description":{"type":"string"}}},"GenerateUserAuthKeyResponse":{"properties":{"authKey":{"type":"string"},"authKeyId":{"type":"string"}}},"GetUserPasswordResponse":{"properties":{"hasPassword":{"type":"boolean"}}},"CreateUserPasswordRequest":{"properties":{"password":{"type":"string"}}},"GetUserPermissionResponse":{"required":["permission"],"properties":{"permission":{"type":"string","description":"PermissionのJSON"}}},"SetUserPermissionRequest":{"required":["permission"],"properties":{"description":{"type":"string"},"permission":{"type":"string","description":"PermissionのJSON"}}},"RegisterSubscribersRequest":{"properties":{"registrationSecret":{"type":"string"},"groupId":{"type":"string"},"tags":{"type":"array","items":{"$ref":"#/definitions/TagUpdateRequest"}}},"required":["registrationSecret"]},"UpdateSpeedClassRequest":{"properties":{"speedClass":{"type":"string","enum":["s1.minimum","s1.slow","s1.standard","s1.fast"]}},"required":["speedClass"]},"GetBillingHistoryResponse":{"properties":{"billList":{"type":"array","description":"月ごとの利用料リスト","items":{"$ref":"#/definitions/MonthlyBill"}}}},"MonthlyBill":{"properties":{"amount":{"type":"integer","format":"int64","description":"金額"},"paymentStatus":{"type":"string","description":"直近の課金ステータス","enum":["lessThanMinimumCharge","paying","paid","refunding","refunded","fail"]},"paymentTransactionId":{"type":"string","description":"課金詳細取得用のID"},"yearMonth":{"type":"string","example":"yyyyMM","description":"年月"}}},"GetLatestBill":{"properties":{"amount":{"type":"integer","format":"int64","description":"金額"},"lastEvaluatedTime":{"type":"string","example":"yyyyMMddHHmmss","description":"利用額計算を実施した時間"}}},"FileOutputResult":{"properties":{"url":{"type":"string"}}},"DailyBillResponse":{"properties":{"billList":{"type":"array","description":"日ごとの利用料リスト","items":{"$ref":"#/definitions/DailyBill"}}}},"DailyBill":{"properties":{"amount":{"type":"integer","format":"int64","description":"金額"},"date":{"type":"string","example":"yyyyMMdd","description":"年月日"}}},"CouponResponse":{"properties":{"amount":{"type":"number","format":"double","description":"クーポン額"},"balance":{"type":"number","format":"double","description":"残高"},"billItemName":{"type":"string","description":"対象課金アイテム"},"couponCode":{"type":"string","description":"クーポンコード"},"expiryYearMonth":{"type":"string","example":"yyyyMM","description":"有効期限"}}},"ListCouponResponse":{"properties":{"couponList":{"type":"array","description":"クーポンリスト","items":{"$ref":"#/definitions/CouponResponse"}}}},"PaymentAmount":{"properties":{"taxAmount":{"type":"number","format":"double"},"totalAmount":{"type":"number","format":"double"}}},"GetPaymentTransactionResult":{"properties":{"amount":{"description":"課金額","$ref":"#/definitions/PaymentAmount"},"description":{"description":"課金内容詳細","$ref":"#/definitions/PaymentDescription"},"message":{"type":"string","description":"メッセージ"},"messageCode":{"type":"string","description":"メッセージコード","enum":["success","processing","invalid_request","invalid_number","incorrect_number","invalid_name","invalid_expiry_month","invalid_expiry_year","invalid_expiry","incorrect_expiry","invalid_cvc","incorrect_cvc","card_declined","missing","processing_error"]},"status":{"type":"string","description":"ステータス","enum":["success","error"]}}},"PaymentDescription":{"properties":{"description":{"type":"string"},"itemList":{"type":"array","items":{"type":"string"}}}},"GetPaymentMethodResult":{"properties":{"errorCode":{"type":"string","description":"エラーコード（支払い情報が無効な場合のみ）","enum":["success","processing","invalid_request","invalid_number","incorrect_number","invalid_name","invalid_expiry_month","invalid_expiry_year","invalid_expiry","incorrect_expiry","invalid_cvc","incorrect_cvc","card_declined","missing","processing_error"]},"errorMessage":{"type":"string","description":"エラーメッセージ（支払い情報が無効な場合のみ"},"properties":{"type":"string","description":"支払い情報"},"providerType":{"type":"string","description":"課金プロバイダ種別","enum":["WebPay"]},"updateDate":{"type":"string","example":"yyyyMMddHHmmss","description":"登録日"}}},"CreditCard":{"properties":{"cvc":{"type":"string"},"expireMonth":{"type":"integer","format":"int32"},"expireYear":{"type":"integer","format":"int32"},"name":{"type":"string"},"number":{"type":"string"}}},"ListOrderResponse":{"properties":{"orderList":{"type":"array","description":"発注リスト","items":{"$ref":"#/definitions/GetOrderResponse"}}}},"OrderItemModel":{"properties":{"productCode":{"type":"string","description":"商品コード"},"quantity":{"type":"integer","format":"int32","description":"購入数"}}},"CreateEstimatedOrderRequest":{"properties":{"orderItemList":{"type":"array","description":"発注商品リスト","items":{"$ref":"#/definitions/OrderItemModel"}},"shippingAddressId":{"type":"string","description":"商品発送先ID"}}},"EstimatedOrderModel":{"properties":{"email":{"type":"string","description":"メールアドレス"},"orderId":{"type":"string","description":"発注ID"},"orderItemList":{"type":"array","description":"発注商品リスト","items":{"$ref":"#/definitions/EstimatedOrderItemModel"}},"shippingAddress":{"description":"発送先","$ref":"#/definitions/ShippingAddressModel"},"shippingAddressId":{"type":"string","description":"商品発送先ID"},"shippingCost":{"type":"number","format":"double","description":"配送料"},"taxAmount":{"type":"number","format":"double","description":"消費税"},"totalAmount":{"type":"number","format":"double","description":"合計金額"}}},"GetOrderResponse":{"properties":{"email":{"type":"string","description":"メールアドレス"},"orderDateTime":{"type":"string","example":"yyyyMMddHHmmss","description":"発注日時"},"orderId":{"type":"string","description":"発注ID"},"orderItemList":{"type":"array","description":"発注商品リスト","items":{"$ref":"#/definitions/EstimatedOrderItemModel"}},"orderStatus":{"type":"string","description":"発注ステータス","enum":["ordering","ordered","kitting","shipped","received","cancelling","cancelled","failed"]},"shippingAddress":{"description":"発送先","$ref":"#/definitions/ShippingAddressModel"},"shippingAddressId":{"type":"string","description":"商品発送先ID"},"shippingCost":{"type":"number","format":"double","description":"配送料"},"shippingLabelNumber":{"type":"string","description":"宅配便送り状番号"},"taxAmount":{"type":"numbe
[...]
